<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @listing.user.username %>
</p>

<p>
  <%= image_tag @listing.avatar %>
</p>

<button type="button" class="btn btn-primary" data-stripe="payment">Buy<%= number_to_currency(@listing.price) %></button>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>

<%= link_to 'Back', foundry_page_path, class: "btn btn-primary btn-center" %>

<%# limit the user from being able to access the edit button if they were not the creator of the object or an admin %>
<% if policy(@listing).edit? %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-primary btn-center" %> 
<% end %>





